<h1>Listado de productos</h1>


{{#each products}}

<form class="productForm"></form>
    <p>{{this.title}}</p>
    <p>Price: {{this.price}}</p>
    <button value={{this.id}} class="productBtn">Add to Cart</button>
    <hr>
</form>
<br/>

{{/each}}

<script src="socket.io/socket.io.js"></script>
<script src="js/home.js"></script>
